body {
  margin: 0;
  font-family: Arial;
  background: #0b0f1a;
  color: white;
  text-align: center;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hidden {
  display: none;
}

.logo {
  width: 200px;
}

.powered {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
}

.loading {
  width: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

.main-img {
  width: 250px;
  margin-bottom: 20px;
}

input {
  display: block;
  margin: 10px;
  padding: 10px;
  width: 80%;
  max-width: 300px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 12px 20px;
  margin-top: 15px;
  background: #00c896;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.link {
  margin-top: 10px;
  color: #00c896;
  cursor: pointer;
}
